#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(153, 150, 150);
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;

}
#header li{
    display: inline-block;
    color: whilte;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;

}

#header li:first-child{
    border-right: none;
}

#header li:hover{
    background-color: white;
}
#header #name{
    background-color:rgb(153, 150, 150);
}